<div class="container_quizz">

  <div class="quizz_logo">
    <img src="/assets/images/logo.png" alt="logo">
    <h2>{{ title }}</h2>
  </div>


  <div *ngIf="!finish" class="quizz_question">
    <h2>{{ optionSelected.question }}</h2>
  </div>

  <div *ngIf="!finish" class="quizz_options">
    <button class="btn-option" *ngFor="let question of optionSelected.options; let i = index"
    (click)="playerChoice(question.alias)">{{ question.name }}</button>
  </div>

  <div *ngIf="finish" class="quizz_result">
    <h2>O seu resultado é:</h2>
    <p>{{ answerSelected }}</p>
  </div>
</div>
